<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sample Express App - ABOUT</title>

    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
    {{>header}} <!-- how to render a partial view! -->

    <div class="main-content">
        <img src="/img/loveyouguys.png" alt="a silly photo">
    </div>
    
    {{>footer}}
</body>
</html>